*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
li{
  list-style: none;
}
.icon-link {
  font-size: 20px;
  font-weight: 800;
}
.card-container {
  margin: 15px;
}
.icon-link {
  border: none;
  outline: none !important;
}
label {
  font-weight: 500;
  margin-top: 5px;
}